body{
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 253, 253);
    width: 60%;
}

header h1{
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 5px;
    background: linear-gradient(to right, rgb(4, 28, 252), rgb(5, 198, 247));
}

#solo menu ul{
    float: left;
    width: 200px;
    padding: 0;
    margin: 0;
}

#solo menu ul li{
    padding: 5px;
    width: 30px;
}

#box{
    border-radius: 10px;
    background-image: url(../img/1.jpg);
    margin-left: 200px;
    padding: 10px;
    color: white;
    text-align: right;
}

footer{
    border-top: 2px solid rgb(42, 23, 73);
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    color: black
}

#contenido p img{
    border: 2px #605B56 solid;
    margin: 3px;
    border-radius: 7px;
    float: left;
    height: 30px;
}

.jazmin{
    display: flex;
}

.hola{
    width: 150px;

}
