body{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.contenedor{
    margin: 0 auto;
    flex: 1;
    max-width: 1200px;
    display: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    height: inherit;

}

.divisor{
    display: grid;

    /*grid-template-row: 150px 200px;
    grid-template-columns: 200px 300px;*/
    /*grid-template: filas/columnas*/
    /*grid-template: 150px 200px / 200px 300px*/
    /*grid-template: 550px 50% / 20% 600 px;*/

    grid-template: 1fr/ 350px 1fr

}

.top5{
    padding: 20px 30px;
    color: beige;
    background-color: rgb(250, 49, 76);

}

.imagenlogo img{
max-width: 100%;
}

.listacartoon p:hover{
cursor: pointer;

}

.miscaricaturas{
    font-size: 20px;

}

.amigos{
    display: block;
    
}

.amigos a{
    display: flex;
    margin: auto auto 20px 30px;
    text-decoration: none;
    align-items: center;
    color: antiquewhite;

}

.amigos a img{
    width: 50px;
    border-radius: 25px;
    margin-right: 7px;
}

.caricaturasDeAmigos{
    font-size: 20px;
}
.multimedia{
    display: grid;
    grid-template: 350px;

}
.nombrevideo{
    padding: 10px;
    padding-top: 15px;

}
.nombrevideo p{
    color: rgb(250, 49, 76);
    margin: 0%;
    font-size: 15px;
}
.botones{
    display: flex;

}

.agregar{
    background-image: linear-gradient(to right, rgb(255, 62, 62), rgb(4, 142, 255));
    
}

 .agregar, .guardar, .compartir, .anime, .normal {
    margin-right: 10px;
 }
 .agregar, .guardar, .compartir, .normal, .anime :hover{
    cursor: pointer;
 }
 .guardar, .compartir{
    color: blue;
    margin-left: 20px;
    font-size: 13px;
 }
 .anime{
    margin-left: 60px;
    background-color: rgb(4, 104, 253);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 15px;
 }
 .normal{
    background-color: rgb(252, 5, 59);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 15px;
 }
 .comentarios{
     display: grid;
     grid-template: 600px / 550px  1fr
 }
 .comentarios span{
     display: flex;
     justify-content: center;
     font-size-adjust: initial;

 }
 .comentarios :hover{
     cursor: default;
 }

 .nuevocomentario{
     padding: 20px;
    
 }
 .nuevocomentario p{
     margin-bottom: 20px;
 }
 .anadircomentario{
     display: flex;
     justify-content: center;
     align-content: center;
 }
 .anadircomentario img{
     width: 50px;
     border-radius: 25px 25px 15px 15px;
     margin-right: 10px;
     
 }
 .anadircomentario{
     background-color: white;
     width: 300px;
     cursor: text;
     border-bottom: 1px solid rgba(0, 0, 0, 0.2)
 }

 .anadircomentario input:hover{
cursor: text;
 }

 .contenedorcomentario{
     margin-top: 20px;
     display: flex;
     align-content: center;
 }
 .contenedorcomentario img{
width: 50px;
border-radius: 25px 25px 15px 15px;
margin-right: 10px;

 }
 
 .texto{
     display: block;
 }
.texto p{
    margin: 0;
    font-weight: bold;
    color: black;
}
.texto span{
    font-weight: 400;
    color: rgba(247, 4, 4, 0.8)
}
.sugerencias .nombresugerencia{
display: flex;
justify-items: start;
}
.sugerencias p{
    padding: 20px 20px 10px 20px;

}
.sugerencias img{
    width: 60%;
}
.sugerencias img:hover{
    cursor:pointer
}
.sugerencias span:hover{
    cursor:pointer
}